In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### How many of each race are represented in this dataset? 
This should be a Pandas series with race names as the index labels.

In [6]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [7]:
 # What is the average age of men?
average_age_men = round(df.loc[(df['sex'] == 'Male'), 'age'].mean(), 1)
average_age_men

39.4

In [8]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(df.loc[(df['education'] == 'Bachelors')].shape[0] / df.shape[0] * 100, 1)
percentage_bachelors

16.4

In [9]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df.loc[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))].shape[0] 
lower_education =  df.shape[0] - higher_education

In [10]:
 higher_education

7491

In [11]:
lower_education

25070

In [12]:
# percentage with salary >50K
cond = (df['salary'] == '>50K') & (df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) 
higher_education_rich = round(df.loc[cond].shape[0] / higher_education * 100, 1)
higher_education_rich
#lower_education_rich = None

46.5

In [23]:
# percentage with salary >50K
lower_education_rich = round(df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]['salary'].value_counts()['>50K'] / lower_education * 100, 1)
lower_education_rich

17.4

In [24]:
df['hours-per-week'].min()

1

In [45]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = round(df[df['hours-per-week'] == df['hours-per-week'].min()]['salary'].value_counts()['>50K'] / df[df['hours-per-week'] == df['hours-per-week'].min()].value_counts().shape[0] * 100, 1)
num_min_workers

10.0

In [66]:
# What country has the highest percentage of people that earn >50K?
#highest_earning_country = df.groupby('native-country')['salary'].value_counts().loc[:, ('>50K')].idxmax()
highest_earning_country = df.groupby('native-country')['salary'].value_counts(normalize=True).loc[:, ('>50K')].idxmax()
highest_earning_country

'Iran'

In [67]:
highest_earning_country_percentage = round(df.groupby('native-country')['salary'].value_counts(normalize=True).loc[:, ('>50K')].max() * 100, 1)
highest_earning_country_percentage

41.9

In [69]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'